<div id="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #ee7724 !important;">
        <h5 class="modal-title">Crear nuevo producto</h5>
        <button type="button" (click)="closeModal()" class="btn-close bg-danger" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body" style="color: black;">
        <div class="input-group flex-nowrap">
          <span class="input-group-text" style="background-color: #ee7724 !important; color: white;" id="addon-wrapping">Titulo</span>
          <input type="text" class="form-control" [(ngModel)] = "elemento.title" placeholder="Escriba un titulo" aria-label="Escriba un titulo" aria-describedby="addon-wrapping" required>
        </div><br>
        <div class="input-group flex-nowrap">
          <span class="input-group-text" style="background-color: #ee7724 !important; color: white;" id="addon-wrapping">Descripción</span>
          <input type="text" class="form-control" [(ngModel)] = "elemento.description" placeholder="Escriba una descripcion" aria-label="Escriba un titulo" aria-describedby="addon-wrapping" required>
        </div><br>
        <div class="input-group flex-nowrap">
          <span class="input-group-text" style="background-color: #ee7724 !important; color: white;" id="addon-wrapping">Precio</span>
          <input type="text" class="form-control" [(ngModel)] = "elemento.price"  placeholder="Escriba un precio" aria-label="Escriba un titulo" aria-describedby="addon-wrapping" required>
        </div><br>
        <div class="input-group flex-nowrap">
          <span class="input-group-text" style="background-color: #ee7724 !important; color: white;" id="addon-wrapping">Categoria</span>
          <input type="text" class="form-control" [(ngModel)] = "elemento.categoryId" placeholder="Escriba una Categoria" aria-label="Escriba un titulo" aria-describedby="addon-wrapping" required>
        </div><br>
        <div class="input-group flex-nowrap">
          <span class="input-group-text" style="background-color: #ee7724 !important; color: white;" id="addon-wrapping">Url de imagen</span>
          <input type="text" class="form-control" [(ngModel)]= " elemento.images[0]" placeholder="Escriba una url de imagen" aria-label="Escriba un titulo" aria-describedby="addon-wrapping" required>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" (click)="createItem()" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
        <button type="button" (click)="closeModal()" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
