<div id="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #ee7724 !important;">
          <h5 class="modal-title">{{elemento.title}}</h5>
          <button type="button" (click)="closeModal()" class="btn-close bg-danger" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="color: black;">
          <table>
            <tbody>
            <tr>
              <td  rowspan="2"> <img [ngSrc]="elemento.images[0]" width="200" height="200" class="rounded" /></td>
              <td style=" text-align: left;">
                <h3 style="margin-left: 10px;">DESCRIPCIÓN</h3>
                <p style="margin-left: 10px;">{{elemento.description}}</p>
                <h4 style="margin-left: 10px;">Precio: $ {{elemento.price}}</h4>
              </td>
            </tr>
          </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="closeModal()" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  